%h1.text-center
  Active Projects
= form_for(@project, remote: true) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
    = f.hidden_field :project_id, value: @project.id

  .actions
    = f.submit 'Save'
.row
  .large-9.large-centered.columns
    %table
      %thead
        %tr
          %th Name
          %th Subscribed
          %th Last updated
          %th
          %th
      %tbody
        - @projects.each do |project|
          %tr
            %td
              = link_to project.name, project_url(project.id)
              = "(#{project.phase.name})"
            %td.text-center= "✓" unless current_user.subscriptions.where(project_id: project.id).blank?
            %td= project.updated_at.strftime("%m/%d/%y at %I:%M%P")
            %td= link_to 'Edit', edit_project_path(project.id)
            %td= link_to 'Destroy', project_path(project.id), method: :delete, data: { confirm: 'Are you sure?' }


